/*
 *	chainsaw 0.1.0
 *	license: MIT
 *	author: exler
 *	source: https://github.com/exler/chainsaw
 */

/* Montserrat Import */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

/* ----- Variables ----- */

$container-width: 960px;
$base-color: #222;
$accent-color: #a7a7a7;
$light-color: #f5f5f5; 
$link-color: #0062ff;
$font-family: 'Montserrat', 'News Gothic MT', 'Segoe UI', sans-serif;

/* ----- Base ----- */

*, *:before, *:after {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.6;
    color: $base-color;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
}

/* ----- Grid ----- */

.container {
    width: 80%;
    max-width: $container-width;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}
.row:last-child {
    margin-bottom: 0;
}
.row .col {
    flex-grow: 1;
    flex-basis: 0;
}
.row .col, .row [class^="col-"], .row [class*=" col-"] {
    margin-right: 16px;
}
.row .col:last-child, .row [class^="col-"]:last-child, .row [class*=" col-"]:last-child {
    margin-right: 0;
}
.row {
    .col-1 {
        width: 8.333333333333332%;
    }
    .col-2 {
        width: 16.666666666666664%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33333333333333%;
    }
    .col-5 {
        width: 41.66666666666667%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.333333333333336%;
    }
    .col-8 {
        width: 66.66666666666666%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33333333333334%;
    }
    .col-11 {
        width: 91.66666666666666%;
    }
    .col-12 {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
	.row .col,
	.row [class^="col-"],
	.row [class*=" col-"] {
		flex-grow: 0;
		flex-basis: 100%;
	}
}

/* ----- Typography ----- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: $font-family;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
h1 {
  font-size: 37px;
  line-height: 1.3;
}
h2 {
  font-size: 32px;
  line-height: 1.35;
}
h3 {
  font-size: 27px;
  line-height: 1.4;
}
h4 {
  font-size: 24px;
  line-height: 1.45;
}
h5 {
  font-size: 21px;
  line-height: 1.5;
}
h6 {
  font-size: 18px;
  line-height: 1.55;
}
p {
  font-size: 16px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 33px;
  }
  h2 {
    font-size: 29px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 23px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }
}

/* ----- Form ----- */

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=number],
input[type=file],
input[type=tel],
input[type=url],
select,
textarea {
  height: 45px;
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  font-size: 16px;
  background: $light-color;
  border: 1px solid $accent-color;
  border-radius: 2px;
  transition: all 0.2s ease;
}
input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
input[type=search]:hover,
input[type=number]:hover,
input[type=file]:hover,
input[type=tel]:hover,
input[type=url]:hover,
select:hover,
textarea:hover {
  border-color: $base-color;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=file]:focus,
input[type=tel]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: $link-color;
}
textarea {
  min-height: 70px;
}

/* ----- Button ----- */

button,
.button,
[type=submit] {
  height: 32px;
  margin-bottom: 16px;
  padding: 10px 10px;
  outline: none;
  text-decoration: none;
  color: $light-color;
  font-size: 16px;
  background: $base-color;
  border: 1px solid $base-color;
  border-radius: 2px;
  transition: all 0.2s ease;
}
button:hover,
.button:hover,
[type=submit]:hover,
button:focus,
.button:focus,
[type=submit]:focus {
  opacity: 0.9;
}
button:active,
.button:active,
[type=submit]:active {
  opacity: 0.7;
}
button[disabled],
.button[disabled],
[type=submit][disabled] {
  opacity: 0.8;
  cursor: not-allowed;
}
button.outline,
.button.outline,
[type=submit].outline {
  color: $base-color;
  background: none;
}
button.outline:hover,
.button.outline:hover,
[type=submit].outline:hover,
button.outline:focus,
.button.outline:focus,
[type=submit].outline:focus {
  color: $light-color;
  background: $base-color;
}

/* ----- Link ----- */

a {
  color: $link-color;
  transition: all 0.2s ease;
}
a:hover {
  cursor: pointer;
  color: $base-color;
}

/* ----- List ----- */

ul,
ol {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 0;
  list-style-position: inside;
}
ul li,
ol li {
  margin-bottom: 16px;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-left: 16px;
}

/* ----- Code ----- */

pre {
  margin-top: 0;
  margin-bottom: 16px;
}
pre code {
  display: block;
  padding: 16px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
code {
  padding: 3px;
  white-space: nowrap;
  background: darken($light-color, 5%);
  border: 1px solid darken($light-color, 7%);
  border-radius: 3px;
  font-family: "Consolas", "Monaco", "Menlo", monospace;
}

/* ----- Divider ----- */

hr {
  border-width: 0.5px;
  border-color: $accent-color;
}

/* ----- Utility ----- */
.text-center {
  text-align: center;
}